*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
    height: calc(100vh - 40vh);
    background-image: linear-gradient(to right, rgba(0,0,0,0.4)50%, rgba(0,0,0,0.4)50%),url("images/schl.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
#main label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#section1{
    height: calc(100vh - 35vh);
}
#bg-image{

    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4)50%, rgba(0,0,0,0.4)50%), url("images/scl.jpg");
    background-size: cover;
    background-position: center;
}
form{
    width: 400px;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    border-radius: 9px;
    box-shadow: 4px 4px 5px #fff;
}